version: 0.0
os: linux

files:
    -
        source: /
        destination: /home/ubuntu/app/{{app_version}}
hooks:
    BeforeInstall:
        - location: hooks/beforeInstall.sh
    AfterInstall:
        - location: hooks/afterInstall.sh
    ApplicationStart:
        - location: hooks/applicationStart.sh
